.green {
  color: #388868;
}

.blue {
  color: #007bff;
}

.lightblue {
  color: #3090f2;
}

.yellow {
  color: #dfbc4d;
}

.pink {
  color: #d74d87;
}

.orange {
  color: #cf6d23;
}

.purple {
  color: #563d7c;
}

.cyan-blue {
  color: #17a2b8;
}

.bg-green {
  background-color: #388868;
}

.bg-blue {
  background-color: #007bff;
}

.bg-lightblue {
  background-color: #3090f2;
}

.bg-yellow {
  background-color: #dfbc4d;
}

.bg-pink {
  background-color: #d74d87;
}

.bg-orange {
  background-color: #cf6d23;
}

.bg-purple {
  background-color: #563d7c;
}

.bg-cyan-blue {
  background-color: #17a2b8;
}